.main-container {
	font-family: 'Poiret One', cursive;
	color: var(--header-text-color);
}

.headings {
	display: inline-block;
}

.headings h1:hover,
.headings h2:hover,
.headings h3:hover,
.headings h4:hover,
.headings h5:hover,
.headings h6:hover {
	transition: 0.3s;
	background-color: var(--box-color);
}

.background-img {
	width: 18%;
	min-width: 18%;
	margin: 0 auto;
	padding: 1.25em;
}

.box {
	margin: 0 auto;
	padding: 3.12em;
	max-width: 10%;
	background-color: var(--box-color);
	transition: 0.2s;
}

.box:hover {
	transition: 0.3s;
	font-size: 1.2rem;
	max-width: 25%;
	background-color: var(--header-container-color);
	color: var(--box-color);
}

.container1 {
	display: flex;
	padding: 3.12em;
	background-color: var(--container-color);
}

.container2 {
	padding: 6.25em;
	background-color: var(--container-color);
}

.button-box-model {
	margin: 0 auto;
	padding: 2.2em 4.5em;
	color: var(--text-color);
	background-color: var(--box-color);
	cursor: pointer;
	border-radius: 0.62em;
	transition: 0.3s;
	max-width: 15%;
	letter-spacing: 0.5em;
}

.button-box-model:hover {
	background-color: var(--body-color);
	color: var(--border-color);
	border-radius: 0;
	transition: 0.3s;
}

.table-box-model {
	margin: 1.87em auto;
	padding: 6.25em;
	letter-spacing: 0.1em;
	transition: 0.3s;
}

.th-pad {
	padding: 1.25em 6.25em;
	transition: 0.3s;
}

.th-fsize {
	font-size: 1.5rem;
	letter-spacing: 0.12em;
}

.td-pad {
	padding: 1.87em;
	transition: 0.3s;
}

.table-box-model:hover {
	background-color: var(--header-container-color);
	transition: 0.3s;
}

.th-pad:hover {
	background-color: var(--container-color);
	transition: 0.3s;
}

.td-pad:hover {
	background-color: var(--body-color);
	transition: 0.3s;
}
