.main-container {
	font-family: 'Poiret One', cursive;
	color: var(--header-text-color);
}

.container-flex-index {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	color: var(--header-title-color);
	transition: 0.3s;
}

.container {
	border-radius: 1em;
	text-align: center;
	margin: 1em;
	cursor: pointer;
	background-color: var(--header-darker-color);
	transition: 0.3s;
}

.container h1 {
	padding: 1.56em;
	font-weight: 100;
	font-size: 2rem;
	letter-spacing: 0.12em;
	color: var(--header-text-color);
	transition: 0.3s;
}

.container h4 {
	padding: 1.56em;
	font-weight: 100;
	font-size: 1rem;
	letter-spacing: 0.1em;
	color: var(--header-text-color);
	transition: 0.3s;
}

.container:hover {
	transition: 0.3s;
	background-color: var(--header-darker-hover-color);
}

.container h4:hover {
	transition: 0.3s;
}

.container h1:hover {
	transition: 0.3s;
}

.display-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.display-grid .container h1 {
	padding: 1.56em 0;
}

@media screen and (max-width: 75em) {
}

@media screen and (max-width: 37.5em) {
	:root {
		font-size: 13px;
	}

	.container-flex-index {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
		color: var(--header-title-color);
		transition: 0.3s;
	}
}
