@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
	--header-text-color: #eeeeee;
	--header-container-color: #222831;
	--header-element-color: #393e46;
	--header-darker-color: #1e2229;
	--header-darker-hover-color: #14171b;
	--header-title-color: #00adb5;
	--text-color: rgb(236, 236, 236);
	--body-color: #5026a7;
	--container-color: #8d448b;
	--box-color: #cc6a87;
	--border-color: #eccd8f;
	--color-hover-btn: rgba(255, 255, 255, 0.4);
}

* {
	padding: 0;
	margin: 0;
}
body {
	box-sizing: border-box;
	width: 95%;
	margin: auto;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* colors */

.pale {
	color: var(--header-text-color);
}

.petrol {
	color: var(--header-container-color);
}

.light-petrol {
	color: var(--header-element-color);
}

.sky {
	color: var(--header-title-color);
}

.darker {
	color: var(--header-darker-hover-color);
}

/* background-colors*/

.bgc-beige {
	background-color: var(--border-color);
}

.bgc-pale {
	background-color: var(--header-text-color);
}

.bgc-petrol {
	background-color: var(--header-container-color);
}

.bgc-light-petrol {
	background-color: var(--header-element-color);
}

.bgc-sky {
	background-color: var(--header-title-color);
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* header */

.ul-flex {
	display: flex;
	flex-wrap: wrap;
}

.ul-flex a li {
	padding: 0 1.87em;
	flex: 1 1 auto;
	padding-top: 1.3em;
	margin: 2.18em auto;
	font-size: 1.25rem;
}

.ul-flex a:hover {
	transition: 0.3s;
	background-color: var(--header-darker-hover-color);
}

.navbar-flex {
	color: var(--header-title-color);
	font-family: 'Poiret One', cursive;
	justify-content: space-between;
	display: flex;
	transition: 0.3s;
}

.navbar-flex:hover {
	transition: 0.3s;
	color: white;
}

.logo {
	display: inline;
	padding: 1.56em 3.12em;
	font-weight: 100;
	font-size: 2.5rem;
	letter-spacing: 0.1em;
	color: var(--header-title-color);
}

.logo h1 {
	font-weight: 100;
}

.logo small {
	font-size: 1.2rem;
}

/* footer */

.footer {
	font-family: 'Poiret One', cursive;
	padding: 2em;
}

.copyright {
	font-size: 0.8rem;
}

.footer section a em {
	font-size: 1.3rem;
}

/* specified css */

.supertitle {
	font-size: 8rem;
}
.supertitle2 {
	font-size: 5rem;
}

.supertitle3 {
	font-size: 2rem;
}

.supertitle4 {
	font-size: 1.5rem;
}

.no-txt-dec {
	text-decoration: none;
}

.no-list-style {
	list-style: none;
}

.text-centered {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pad1 {
	padding: 0.625em;
}

.mar1 {
	margin: 0.625em;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.grid300 {
	justify-items: stretch;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2em;
}

.grid120 {
	margin: 0 auto;
	justify-items: stretch;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	gap: 1em;
}

.width30 {
	width: 33%;
}

.justify-content-center {
	justify-content: center;
}

.marx-auto {
	margin: 0 auto;
}

.marx1 {
	margin: 0 2em;
}

.mary1 {
	margin: 1em 0;
}

.mar-bottom1 {
	margin-bottom: 1em;
}

.pady1 {
	padding: 0.5em 0;
}

.letter-spacing1 {
	letter-spacing: 0.05em;
}

.transition03 {
	transition: 0.3s;
}

.sm {
	font-size: 0.5em;
}

.display-block {
	display: block;
}

@media screen and (max-width: 71.87em) {
	.logo {
		text-align: center;
	}

	.navbar-flex {
		flex-direction: column;
		text-align: center;
		margin: 0;
	}

	.ul-flex {
		flex-direction: column;
	}

	.ul-flex a li {
		padding: 0;
		margin: 0.3em;
		font-size: 1rem;
	}
}
@media screen and (max-width: 37.5em) {
	.logo {
		display: inline;
		padding: 2rem 0;
		font-weight: 100;
		font-size: 2rem;
		letter-spacing: 0.1em;
		color: var(--header-title-color);
	}

	.logo small {
		font-size: 1.2rem;
	}

	.ul-flex {
		flex-direction: column;
	}
}
