code {
	background-color: var(--body-color);
	display: block;
	border-radius: 0.3em;
	padding: 0.5em;
}

.main-container {
	font-family: 'Poiret One', cursive;
	color: var(--header-text-color);
}

.container-grid-notes {
	color: var(--header-text-color);
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
}

.container-notes {
	background-color: var(--header-darker-color);
	border-radius: 1em;
	overflow: hidden;
	font-size: 0.9rem;
	text-align: left;
	line-height: 2em;
	padding: 2em;
	margin: 2.2em;
	transition: 0.3s;
	word-break: break-word;
}

.container-notes h2 {
	padding: 0.5em 0;
	letter-spacing: 0.15em;
	color: var(--header-text-color);
	transition: 0.3s;
}

.container-notes h3 {
	color: deeppink;
}

.container-notes p {
	letter-spacing: 0.06em;
}

.container-notes a {
	color: var(--box-color);
	font-size: 0.8rem;
}

.container-notes:hover {
	transition: 0.3s;
	background-color: var(--header-darker-hover-color);
}

.two-cols {
	grid-column: span 2;
}

.three-cols {
	grid-column: span 3;
}

.four-cols {
	grid-column: span 4;
}

@media screen and (max-width: 37.5em) {
	.container-grid-notes {
		color: var(--header-text-color);
		display: grid;
		grid-auto-flow: initial;
		grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
	}

	.two-cols {
		grid-column: span 1;
	}

	.three-cols {
		grid-column: span 1;
	}

	.four-cols {
		grid-column: span 1;
	}
}
